### Project Constants (Need to be set by project)

ROOT_DIR="../Code"
APPNAME="Muving"
DISPLAY_APPNAME="Muving v2"
WORKSPACE="Muving.xcworkspace"
SCHEME="App-Demo"
PLISTFILE="Project/Project/OtherResources/Info.plist"
PROVPROFILE="match AppStore *"
BUNDLE_ID="com.ssm.muving"


SEND_EMAIL=false
EMAIL="vicente.crespo.penades@gmail.com"
EMAIL_NAME="Vicente Crespo"

DISABLE_SOURCE_CONTROL=1 # Set to 1 to disable commit/push

APPICON="../Code/Project/Project/Images.xcassets/AppIcon-Release.appiconset/Icon-83.5@2x.png"

KEYCHAIN_ITEM="wehbostvcrespo"
FTPACCOUNT="vicentecrespo"
FTPSERVER="files.000webhost.com"
FTPPORT="21"
FTPREMOTEPATH="/public_html/Muving"
PUBLISH_URL="https://vicentecrespo.000webhostapp.com/Muving/"
FTP_USE_SFTP=false

### Constants (Usually need to be set only once)
COMPANYNAME="Vicente Crespo Penadés"
ARCHIVEPATH="${HOME}/Desktop/jjdeploy/${APPNAME}"
